body{
    overflow-x: hidden;
    height:100%;
    line-height: 1;
}

/*页面第一个大图*/
#ty-about-index{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    position: relative;
}

/*页面header*/
.ty-about-header{
    width:100%;
    margin:0 auto;
    height:60px;
    padding-top: 30px;
    z-index: 20;
}

/*左侧logo*/
.ty-about-header img{
    width:145px;
    height:40px;
    margin-left: 200px;
}

/*去掉a标签样式*/
.ty-about-header div a{
    text-decoration: none;
}

/*右侧注册登录*/
.ty-about-header .ty-about-login a{
    font-size: 14px;
    border:1px solid #fff;
    width:60px;
    height:35px;
    margin-right:200px;
}

/*注册特有样式*/
.ty-about-header .ty-about-register{
    border:none !important;
}


/*主体段落文字部分*/
.ty-about-body{
    width: 500px;
    left: 50%;
    margin-left: -250px;
    position: absolute;
    top: 50%;
    text-align: center;
    line-height: 28px;
    margin-top: 160px;
    font-size: 15px;
}

.ty-about-body ul{
    position: relative;
    margin: 10px 0 0 120px;
}

.ty-about-body ul li{
    text-align: left;
}

/*背景影像*/
.ty-about-video{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}

/*页面大图——影像背景和透明度*/
.ty-about-video video{
    position:absolute;
    left:50%;
    top: 120%;
    margin-left:-960px;
    margin-top: -500px;
    width:1920px;
    height:1080px;
}

/*影像上面的透明度*/
.ty-about-video::after{
    position: absolute;
    width: 100%;
    content: '';
    height:855px;
    background: #061742;
    opacity: .3;
    top: 0;
    left: 0;
}

/*页面大标题*/
.ty-about-header+h1{
    margin-top:100px;
    text-align: center;
}



/*页面第二大模块*/
.ty-about-team{
    color:#333;
    height:640px;
    position:relative;
    background:#fff;
    border:1px solid #fff;
    top:400px;
}

/*大标题*/
.ty-about-team p{
    font-size: 40px;
    margin-top:60px;
}

/*小文字*/
.ty-about-desc{
    max-width:900px;
    margin:0 auto;
    padding:0 30px;
    line-height: 1.6;
}
.ty-about-desc p{
    font-size: 14px;
    margin-top: 20px;
    text-align: left;
}

/*人物内容*/
.ty-about-team-container{
    position: relative;
    max-width: 900px;
    height:250px;
    margin:50px auto;
    padding:0 30px;
    border:1px solid red;
}

/*15个人物头像*/
.ty-about-team-people{
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border:1px solid red;
    background: #eee;
    transition: all .4s ease-in-out;
    animation:.4s ease-in-out forwards;
}

/*隐藏的文字块*/
.ty-about-people-info{
    position: absolute;
    width:0;
    left:0;
    height: 80px;
    padding-left:80px;
    background: #eee;
    border-radius: 40px;
    overflow: hidden;
    transition:all 0.4s ease-in-out;
}

.ty-about-people-info>h3 {
    color: #555;
    margin: 10px 0 5px;
    font-weight: 400;
    font-size: 16px;
    padding-left: 5px;
    width: 150px;
}

.ty-about-people-info>h3>small {
    display: block;
    color: #999;
    font-size: 13px;
    margin-top: 5px;
    width: 150px;
}

.ty-about-people-info p{
    padding-left: 5px;
    margin-top: 10px;
    font-size: 14px;
    width: 150px;
}
/*隐藏文字块hover出现样式*/
.ty-about-team-people:hover .ty-about-people-info{
    padding-left:80px;
    width:250px;
    transition:all 0.4s ease-in-out;
    background: #fff;
    box-shadow:0 0 3px 3px #eee ;
}

.ty-people-circle{
    position: absolute;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    left: 7px;
    top: 7px;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 999;
}

/*15个人物头像*/
.ty-about-team-style-1{
    position:absolute;
    left:50%;
    top:35%;
}
.ty-about-team-people-1{
    background-image: url(../img/about/30-024946_994.jpg);
}

.ty-about-team-people-2{
    background-image: url(../img/about/20140907103514_zaicd.thumb.224_0.jpeg);
}




/*页面第三个大图*/
.ty-about-job{
    position:relative;
    top:400px;
    color:#fff;
    border-top:1px solid #fff;
    height:610px;
    background:url(../img/about/img_about_bg2.jpg) 0/cover no-repeat;
}

/*页面标题*/
.ty-about-job>h2{
    position:relative;
    max-width: 800px;
    font-size: 40px;
    padding-top: 60px;
    z-index: 99999;
    margin: 0 auto 20px;
}

/*标题下面的文字介绍*/
.ty-about-job p{
    position: relative;
    font-size: 16px;
    z-index: 99999;
}

.under{
    cursor:pointer;
    color:white;
}

.ty-about-job p a{
    text-decoration: none;
}

/*文字介绍hover时下面span的样式*/
.ty-about-job-under{
    position: absolute;
    width:0;
    height:1px;
    background-color:#eee;
    bottom:-5px;
    left:0;
    transition:0.5s;
    margin-left:50%;
}

.under:hover .ty-about-job-under{
    width:140px;
    margin-left:43.5%;
}
/*页面主要内容*/
.ty-about-job-container{
    max-width: 1000px;
    margin:30px auto;
}

/*每个模板的背景色和高宽、位置*/
.ty-about-job-any{
    width:300px;
    height:150px;
    margin-top: 30px;
    border:1px solid red;
    background: rgba(255,255,255,.3);
}

/*模板里的图片——圆和图标*/
.ty-about-job-icon{
    position:relative;
    padding:15px 0 30px;
    line-height: 80px;
}

/*圆*/
.ty-about-job-icon-circle{
    position:absolute;
    top:15px;
    left:50%;
    margin-left: -35px;
    transition: transform .8s ease-in-out;
}

/*图片下的工作名称*/
.ty-about-job-name{
    font-size: 13px;
    margin-top: -15px;
}

/*圆的hover样式*/
.ty-about-job-icon-circle>img{
    transition: transform .8s ease-in-out;
}
.ty-about-job-any:hover .ty-about-job-icon-circle>img{
    transform: rotate(360deg);
}

/*点击隐藏模块的内容*/
.ty-about-job-content{
    position:absolute;
    background: rgba(0,0,0,.6);
}

.cover{
    /*底层遮罩元素*/
    position:absolute;/*元素的定位类型*/
    left:0;
    top:0;
    background:rgba(0, 0, 0, 0.4);
    width:100%;  /*宽度设置为100%，这样才能使隐藏背景层覆盖原页面*/
    height:100%;
    opacity:0.6;/*透明度*/
    display:none; /**/
    z-Index:999;  /*层级关系*/
}
#modal1,#modal2,#modal3,#modal4,#modal5,#modal6{
    position:absolute;
    width:100%;
    height:600px;
    display:none;
    z-Index:9999;
    left:0;
    top:0;
}

/*详情介绍*/
.ty-about-job-content a{
    text-decoration: none;
}

/*详情介绍内容*/
.ty-about-job-detail{
   position:absolute;
   top:240px;
   left:340px;
   max-width: 670px;
   font-size: 13px;
   text-align: left;
}

.ty-about-job-detail p{
    font-size: 13px;
}

.ty-about-job-detail ol li{
    padding:3px 0;
    margin-left: -10px;
}

/*隐藏模块关闭按钮*/
.ty-close-icon{
    margin-right:20px;
    margin-top:10px;
}

.ty-close-icon:hover{
    transform:rotate(90deg) ;
    transition: all .8s ease-in-out;
    color:#ccc;
}



/*页面第四个大图*/
.ty-about-report{
    position: relative;
    top:400px;
    height:500px;
}

/*第四个大图的大标题*/
.ty-about-report>h2{
    position: relative;
    padding-top:60px;
}

/*轮播图文*/
.ty-about-report-carousel{
    position: relative;
    max-width: 1000px;
    overflow: hidden;
    height:250px;
    margin: 80px auto 0;
}

/*每个小图片*/
.carousel-inner{
    position: absolute;
    width:100%;
    height:100%;
    overflow: hidden;
    display: table-cell;
    text-align: center;
    background: #fff;
    left:0;
    top: 0;
}

.ty-about-report-slide{
    margin:70px 38%;
    line-height: 108px;
    width:218px;
    height: 108px;
    overflow: hidden;
}

.ty-about-report-slide h3{
    width:320px;
    font-size: 16px;
    height:16px;
    margin:0 auto 20px;
    overflow: hidden;
}

.ty-about-report-slide p{
    line-height: 1.4;
    height:56px;
    width:328px;
    margin:0 auto;
    overflow: hidden;
}

.ty-about-report-carousel>a{
    position:absolute;
    width:40px;
    height:230px;
    background:#fff;
    top:10px;
}

.ty-about-report-carousel>a:hover{
    background:#eee;
}


/*页面第五个大图*/
.ty-about-contact{
    position:relative;
    top:400px;
    height:550px;
    border-top:2px solid #eee;
    background:url(../img/about/ic_about_contact.png) center/80% no-repeat;
}

/*第五个大图大标题*/
.ty-about-contact>h2{
    padding-top: 60px;
}

/*页面内容*/
.ty-about-contact-container{
    width:600px;
    margin:0 auto;
}

/*四个动态导航*/
.ty-about-share{
    height:120px;
    margin:40px 0;
    line-height: 90px;
}

/*动态导航4张背景图片大小*/
.ty-about-share a{
    display: inline-block;
    text-align: center;
    height:120px;
    width:145px;
    transition: background-image .5s ease-in-out;
}

/*4张背景图——静态、hover*/
/*第一张——微博*/
.ty-about-share a.weibo{
    width:60px;
    height:60px;
    background:url(../img/about/ic_contact_weibo.png) 0/cover no-repeat;
}

.ty-about-share a.weibo:hover{
    cursor: pointer;
    width:60px;
    height:60px;
    background:url(../img/about/ic_contact_weibo_hover.png) 0/cover no-repeat;
}


/*第二张——微信*/
.ty-about-share a.wechat{
    width:60px;
    height:60px;
    background:url(../img/about/ic_contact_weixin.png) 0/cover no-repeat;
}

.ty-about-share a.wechat:hover{
    cursor: pointer;
    width:60px;
    height:60px;
    background:url(../img/about/ic_contact_weixin_ahover.png) 0/cover no-repeat;
}


/*第三张——人人*/
.ty-about-share a.renren{
    width:60px;
    height:60px;
    background:url(../img/about/ic_contact_renren.png) 0/cover no-repeat;
}

.ty-about-share a.renren:hover{
    cursor: pointer;
    width:60px;
    height:60px;
    background:url(../img/about/ic_contact_renren_hover.png) 0/cover no-repeat;
}


/*第四张——邮箱*/
.ty-about-share a.mail{
    width:60px;
    height:60px;
    background:url(../img/about/ic_contact_mail.png) 0/cover no-repeat;
}

.ty-about-share a.mail:hover{
    cursor: pointer;
    width:60px;
    height:60px;
    background:url(../img/about/ic_contact_mail_ahover.png) 0/cover no-repeat;
}


/*4个图标事件*/
.ty-about-contact-show{
    width:540px;
    height:200px;
    margin:-38px auto 0;
    background: #fff;
}

/*4个图标所隐藏的商品介绍*/
.ty-about-contact-show>div{
    color:#777;
    transition: all .4s ease-in-out;
    position: absolute;
    width: 540px;
    text-align: center;
    padding:40px 20px;
    box-shadow:0 0 3px 3px #eee;
}

/*未隐藏模块的内容*/
.ty-about-contact-show1>p{
    position: relative;
    font-size: 16px;
    margin: 20px 30px;
    line-height: 1.5;
}

.ty-about-contact-show1>p>span{
    font-size: 36px;
}


/*文字前后追加的特殊样式*/
.ty-about-contact-show1>p::before,.ty-about-contact-show1>p::after{
    content: 'â€œ';
    position: absolute;
    font-size: 50px;
    color: #777;
    margin-left: -20px;
    margin-top: -15px;
}

.ty-about-contact-show1>p::after{
    content:"â€";
    margin-left:0;
    margin-top: -30px;
}


/*商品介绍——左*/
.ty-about-share-detail-left{
    width:160px;
    text-align: center;
    float: left;
}
.ty-about-share-detail-left>a{
    margin:0;
    padding:0;
    vertical-align: baseline;
}

.ty-about-contact-show5>a{
    text-decoration: none;
}

.ty-about-contact-show5>a span{
    font-size: 30px;
}

.ty-about-contact-show5{
    height:200px;
    line-height: 100px;
}

/*商品介绍左——图片*/
.ty-about-contact-show>div img{
    width:120px;
    height:120px;
}

/*商品介绍左——隐藏的第五个板块的图片*/
.ty-about-contact-show5 a img{
    width:30px;
    height:23px;
}


/*商品介绍——右*/
.ty-about-share-detail-right{
    position: relative;
    padding-left: 200px;
    height:100%;
    color:#777;
}


/*商品介绍右——文字*/
.ty-about-share-detail-right p{
    font-size: 16px;
    margin-bottom: 0;
    line-height: 1.7;
}


/*商品介绍右——文字中间隔开的量条小线条*/
.ty-about-share-detail-right .row::before{
    position: absolute;
    content: '';
    height: 16px;
    width: 1px;
    background: #777;
    left: 280px;
    top: 80px;
}

.ty-about-share-detail-right .row::after{
    content: "";
    width:1px;
    height:16px;
    position: absolute;
    background: #777;
    top:80px;
    left:380px;
}


/*上——文字展示模块上的小三角*/
.ty-about-contact-show1::after{
    position:absolute;
    content: '';
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom-color: #fff;
    top: -40px;
    left: 50%;
    margin-left: -20px;
    transition: all .4s ease-in-out;
}

.ty-about-contact-show2::after{
    position:absolute;
    content: '';
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom-color: #fff;
    top: -40px;
    left: 5%;
    margin-left: -20px;
    transition: all .4s ease-in-out;
}

.ty-about-contact-show2::after{
    position:absolute;
    content: '';
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom-color: #fff;
    top: -40px;
    left: 8%;
    margin-left: -20px;
    transition: all .4s ease-in-out;
}

.ty-about-contact-show3::after{
    position:absolute;
    content: '';
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom-color: #fff;
    top: -40px;
    left: 38%;
    margin-left: -20px;
    transition: all .4s ease-in-out;
}

.ty-about-contact-show4::after{
    position:absolute;
    content: '';
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom-color: #fff;
    top: -40px;
    left: 65%;
    margin-left: -20px;
    transition: all .4s ease-in-out;
}

.ty-about-contact-show5::after{
    position:absolute;
    content: '';
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom-color: #fff;
    top: -40px;
    left:90%;
    margin-left: -20px;
    transition: all .4s ease-in-out;
}




/*页面第六个大图*/
.ty-about-download{
    position:relative;
    top:360px;
    width:100%;
    height:560px;
    border-bottom:2px solid #00b4ff;
    border-top:2px solid #eee;
}

/*上：页面大标题*/
.ty-about-download>h2{
    padding-top: 60px;
}


/*下：页面主要内容*/
.ty-about-download-container{
    position: relative;
    width:700px;
    height:438px;
    margin:0 auto;
    overflow: hidden;
    z-index: -1;
}

/*下：左和右*/
.ty-about-download-left{
    position:absolute;
    width:400px;
    left:0;
    top:0;
}

.ty-about-download-right{
    padding-left: 450px;
}

/*下：左——两个手机图片*/
.ty-about-download-iphone{
    position:absolute;
    top:60px;
    width:220px;
    height:430px;
}

.ty-about-download-android{
    position:absolute;
    top:100px;
    left:150px;
    z-index: -1;
    width:250px;
    height:485px;
}

/*下：右——两个按钮和二维码*/
.ty-about-download-right a{
    position:relative;
    top:60px;
    width:162px;
    height:52px;
    border:1px solid #ccc;
    border-radius: 5px;
    transition: all .3s;
    background:#fff;
    display: block;
}

/*/!*上——两个按钮图片*!/*/
.iphone_btn>img{
    width:25px;
    height:25px;
}

.android_btn>img{
    width:40px;
    height:35px;
}


/*/!*按钮字体颜色*!/*/
.ty-about-download-right a{
    color:#777;
    font-size: 18px;
    line-height: 38px;
}

/*中——隐藏的下拉菜单*/
.ty-about-download-right ul{
    position: absolute;
    bottom:134px;
    right:88px;
    transition: height .4s ease-in-out;
    text-align: center;
    border:1px solid #ddd;
    border-top:0
}

.ty-about-download-right ul li{
    color:#333;
    width:160px;
    height:50px;
    line-height: 40px;
    font-size: 13px;
}

.ty-about-download-right ul li:hover{
    background:#f2f2f2;
}

/*下——二维码*/
.ty-about-download-right div:nth-child(3)>img{
    width:160px;
    height:160px;
    margin-top: 80px;
}




/*底部：列表*/
/*logo图片*/
.img-logo {
    width: 135px;
    height: 36px;
    margin-left: 10px;
}
.footer-list{
    width:100%;
    height:100%;
    position:relative;
    top:360px;
    text-align: center;
}
/*列表模块*/
.list-content{
    width:70%;
    height:100%;
    margin:0 auto;
}

.list-content ul li a{
    text-decoration: none;
}

.list-content ul li a:hover{
    color:#eee !important;
}

.list-content div~div ul li{
    line-height: 1.5;
}

.list-content div:first-child ul li p{
    letter-spacing: 2px;
    line-height: 1.5;
}

/*下载应用样式*/
.icon-size{
    border-color:#55D4FD !important;
    width:6rem;
    height:2.5rem;
    line-height: 2.5rem;
    border-radius: 5px;
}
/*下载链接图片大小*/
.icon-size img{
    width:30px;
    height:30px;
}
/*下载应用二维码大小*/
.erweima{
    width:120px;
    height:120px;
    margin-left:30px;
}
/*最下面图片链接*/
.list-ft-img{
    width:70%;
    margin: 0 auto 8px;
}
.list-ft-img img{
    width:100px;
    height:50px;
}