/*头部背景图*/
.ty-live-bg{
    background-image:url(../img/explore/explore_study/176.png);
}

/*主体内容22个小模块头部背景图*/
/*背景图1*/
.ty-channel-bg-1{
    background-image:url(../img/explore/explore_study/2015119201811945!s.png);
}

/*背景图2*/
.ty-channel-bg-2{
    background-image:url(../img/explore/explore_study/2017112616520395944259!s.png);
}

/*背景图3*/
.ty-channel-bg-3{
    background-image:url(../img/explore/explore_study/2017021512430429862508!s.png);
}

/*背景图4*/
.ty-channel-bg-4{
    background-image:url(../img/explore/explore_study/2018102523015418789283!s.png);
}

/*背景图5*/
.ty-channel-bg-5{
    background-image:url(../img/explore/explore_study/20181027220246411!s.png);
}

/*背景图6*/
.ty-channel-bg-6{
    background-image:url(../img/explore/explore_study/176.png);
}

/*背景图7*/
.ty-channel-bg-7{
    background-image:url(../img/explore/explore_study/2016031515184434860327!s.png);
}

/*背景图8*/
.ty-channel-bg-8{
    background-image:url(../img/explore/explore_study/2016013114215587524782!s.png);
}

/*背景图9*/
.ty-channel-bg-9{
    background-image:url(../img/explore/explore_study/2016072521224643897221!s.png);
}

/*背景图10*/
.ty-channel-bg-10{
    background-image:url(../img/explore/explore_study/201703081238515585297!s.png);
}

/*背景图11*/
.ty-channel-bg-11{
    background-image:url(../img/explore/explore_study/201506040128311433352512!s.png);
}

/*背景图12*/
.ty-channel-bg-12{
    background-image:url(../img/explore/explore_study/20172172251238529!s.png);
}

/*背景图13*/
.ty-channel-bg-13{
    background-image:url(../img/explore/explore_study/2018082308280671224830!s.png);
}

/*背景图14*/
.ty-channel-bg-14{
    background-image:url(../img/explore/explore_study/feed13.png);
}

/*背景图15*/
.ty-channel-bg-15{
    background-image:url(../img/explore/explore_study/2018042516092655951697!s.png);
}

/*背景图16*/
.ty-channel-bg-16{
    background-image:url(../img/explore/explore_study/2018080617542097755520!s.png);
}

/*背景图17*/
.ty-channel-bg-17{
    background-image:url(../img/explore/explore_study/2015090509301329161!s.png);
}

/*背景图18*/
.ty-channel-bg-18{
    background-image:url(../img/explore/explore_study/2018100520332548398568!s.png);
}

/*背景图19*/
.ty-channel-bg-19{
    background-image:url(../img/explore/explore_study/201782710584246!s.png);
}

/*背景图20*/
.ty-channel-bg-20{
    background-image:url(../img/explore/explore_study/201507282251061438095067!s.png);
}

/*背景图21*/
.ty-channel-bg-21{
    background-image:url(../img/explore/explore_study/20151115151563938!s.png);
}

/*背景图22*/
.ty-channel-bg-22{
    background-image:url(../img/explore/explore_study/201506012030471433161847!s.png);
}