/*头部背景图*/
.ty-live-bg{
    background-image:url(../img/explore/explore_work/262.png);
}

/*主体内容19个小模块头部背景图*/
/*背景图1*/
.ty-channel-bg-1{
    background-image:url(../img/explore/explore_work/20166301953111672!s.png);
}

/*背景图2*/
.ty-channel-bg-2{
    background-image:url(../img/explore/explore_work/dream_11.png);
}

/*背景图3*/
.ty-channel-bg-3{
    background-image:url(../img/explore/explore_work/2016021813164450231484!s.png);
}

/*背景图4*/
.ty-channel-bg-4{
    background-image:url(../img/explore/explore_work/dream_1.png);
}

/*背景图5*/
.ty-channel-bg-5{
    background-image:url(../img/explore/explore_work/201809140935332588375!s.png);
}

/*背景图6*/
.ty-channel-bg-6{
    background-image:url(../img/explore/explore_work/20177162126592865!s.png);
}

/*背景图7*/
.ty-channel-bg-7{
    background-image:url(../img/explore/explore_work/2016630205503399!s.png);
}

/*背景图8*/
.ty-channel-bg-8{
    background-image:url(../img/explore/explore_work/20171131011184233!s.png);
}

/*背景图9*/
.ty-channel-bg-9{
    background-image:url(../img/explore/explore_work/201606200050101466355011!s.png);
}

/*背景图10*/
.ty-channel-bg-10{
    background-image:url(../img/explore/explore_work/2018042600181892564934!s.png);
}

/*背景图11*/
.ty-channel-bg-11{
    background-image:url(../img/explore/explore_work/201802091410083595610!s.png);
}

/*背景图12*/
.ty-channel-bg-12{
    background-image:url(../img/explore/explore_work/2018071102241475721690!s.png);
}

/*背景图13*/
.ty-channel-bg-13{
    background-image:url(../img/explore/explore_work/dream_5.png);
}

/*背景图14*/
.ty-channel-bg-14{
    background-image:url(../img/explore/explore_work/2017042708560927680002!s.png);
}

/*背景图15*/
.ty-channel-bg-15{
    background-image:url(../img/explore/explore_work/201511151511467160!s.png);
}

/*背景图16*/
.ty-channel-bg-16{
    background-image:url(../img/explore/explore_work/dream_6.png);
}

/*背景图17*/
.ty-channel-bg-17{
    background-image:url(../img/explore/explore_work/2016010213315185633!s.png);
}

/*背景图18*/
.ty-channel-bg-18{
    background-image:url(../img/explore/explore_work/dream_12.png);
}

/*背景图19*/
.ty-channel-bg-19{
    background-image:url(../img/explore/explore_work/2015120512454016077!s.png);
}


